/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
    font-size: 1rem;
	font-weight: 400;
	line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Source Sans 3", Arial, Helvetica, sans-serif;
	
}

p {
	
}


/* Elements
--------------------------------------------- */

figure {
	margin: 0;
}

/* Links
--------------------------------------------- */
a{
    
    color: black;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}


a:hover,a:focus,a:active,a:visited{
    border-bottom: 2px solid #000000;
    transition: ease-in-out .3s;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header{
    margin: 1rem;
}

/* Main
--------------------------------------------- */


/* Footer
--------------------------------------------- */
